.alert{
    z-index: 9999;
    transform: translateX(-50%);
    left: 50%;
    bottom: 30px;
    border: 0;
    border-radius: 3px;
    color: $white;
    padding-top: .9rem;
    padding-bottom: .9rem;
    position: fixed;

    &.alert-success{
        background-color: $success;
    }

    &.alert-danger{
        background-color: $danger;
    }

    &.alert-warning{
        background-color: $warning;
    }

    &.alert-info{
        background-color: $info;
    }

    &.alert-primary{
        background-color: $primary;
    }

    .alert-icon{
        display: block;
        float: left;
        margin-right: 15px;
        margin-top: -1px;
    }

    strong{
        text-transform: uppercase;
        font-size: 12px;
    }
    button {
        margin-left: 10px;
    }

    i.fa,
    i.now-ui-icons{
        font-size: 20px;
    }

    .close{
        color: $white;
        opacity: .9;
        text-shadow: none;
        line-height: 0;
        outline: 0;
    }
}
