.footer {
    background: $footer-bg!important;
    padding: 6.25rem 0 2rem 0!important;
    color: #f2f2f2;

    a {
        color: #f2f2f2
    }

    .category {
        color: #919496;
        font-size: 17px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
}