/* Form controls */

label {
    font-size: $font-size-sm;
}

.form-control {
    font-size: $input-btn-font-size;
    
    &:focus {
        &::placeholder {
            color: $input-focus-placeholder-color;
        }
    }
}