.fdb-block {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 5rem 0;
  position: relative;
  background-size: cover;
  background-color: #fff;

  .container {
    background-size: contain;
  }

  .fdb-box {
    background: #FFF;
    padding: 3.75rem 2.5rem;
    overflow: hidden;
    color: #444;
    border-radius: .25rem;
    box-shadow: 0 .3125rem .875rem 0 rgba(129, 129, 129, .2)!important
  }
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-desc {
  text-align: center;
  margin-top: 23px;
}

.fb-item {
  margin-right: -10px;
}

.icon-black {
  color: black!important;
}

.align-center {
  text-align: center!important;
}

.leaflet-pane {
  z-index: 1!important;
}

#map {
  width: 100%;
  height: 300px;
}

.lds-center {
  display: block!important;
  margin-right: auto!important;
  margin-left: auto!important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 10px;

}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty {
  margin-bottom: 10rem;
}
///////////////////

.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail
{
  margin-bottom: 30px;
  padding: 0;
  border-radius: 0;
}

.item.list-group-item
{
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

.item.list-group-item .list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0;
  display: inline-block;
}
.item.list-group-item .caption
{
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item:after
{
  clear: both;
}
.pagination .page-item .page-link {
  height: 36px!important;
  line-height: initial;
}
.thumbnail {
  border-radius: 3px;
}
.card {
  border: 1px solid rgba(0,0,0,.2);
}
.img-fit {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

//////

.bg-main {
  background-image: url('../../images/bg.jpeg');
}

.main-parent {
  padding: 5% 0;
  min-height:92.325vh;
}

.main-child {
  padding: 10% 0;
}