{% extends 'base.html.twig' %}

{% block title %}Skardland.lt - Apie{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-12 text-center">
                    <h2>Apie mus</h2>
                </div>
            </div>
            <h5>Kas mes esame?</h5>
            <p class="lead">
                Mes esame profesionali skardos lankstytojų komada,
                kuri savo veiklą vykdo nuo 2007 metų iki šiol. Gaminame
                standartinius ir nestandartinius skardos lankstinius, juos montuojame
                bei konsultuojame rūpimais klausimais.
            </p>
            <h5>Kokia mūsų vizija?</h5>
            <p class="lead">
                Tapti pagrindiniu skardos lansktinių gamintoju rinkoje.
            </p>

            <h5>Kokia mūsų misija?</h5>
            <p class="lead">
                Teikti aukščiausios kokybės paslaugas užsakovams, pranokstant jų lukesčius.
            </p>

            <h5>Mūsų tikslas</h5>
            <p class="lead">
                Dirbti taip, kad užsakovas būtų visapusiškai patenkintas ir gautų norimus rezultatus iš susitarimų sutartu laiku.
            </p>
        </div>
    </section>

    {% include "footer.html.twig" %}

{% endblock %}