{% extends 'base.html.twig' %}

{% block title %}Skardland.lt - Kontaktai{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    {#{{ encore_entry_script_tags('contacts') }}#}
{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block pt-0">
        <div class="container-fluid p-0 pb-md-5">
            <div id="map"></div>
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-5">
                    <h2>Susisiekite su mumis</h2>
                    <br>

                    <h6>Mus galite rasti adresais:</h6>
                    <p class="lead">
                        {{ getSetting('address-1') }}
                        <br>
                        {{ getSetting('address-2') }}
                    </p>
                    <h6>El. paštas:</h6>
                    <p class="lead">
                        {{ getSetting('email') }}
                    </p>
                    <h6>Tel. nr.:</h6>
                    <p class="lead">
                        {{ getSetting('phone-number') }}
                    </p>
                    <h6>
                        <a class="nav-link-icon icon-black"
                           href="{{ getSetting('fb') }}" target="_blank">
                            Sek mus Facebook'e - <i class="fab fa-facebook-f"></i>
                        </a>
                    </h6>
                </div>

                <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
                    {{ form_start(form) }}
                        <div class="row mt-4">
                            <div class="col">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                {{ form_row(form.submit) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html.twig" %}

{% endblock %}