{% extends 'base.html.twig' %}

{% block title %}Skardland.lt - Pagrindinis{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block main-parent bg-main">
        <div class="container">
            <div class="row text-center justify-content-sm-center no-gutters main-child">
                {% for category in categories %}
                    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
                        <div class="card card-lift--hover shadow border-0">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                    <i class="{{ category.icon }}"></i>
                                </div>
                                <h1 class="text-black-50">{{ category.title }}</h1>
                                {% if category.content %}
                                    <h2 class="description mt-3 font-weight-400">
                                        {{ category.content }}
                                    </h2>
                                {% endif %}
                                <a href="{{ url('products', {category: category.id, slug: slugify(category.title)}) }}" class="btn btn-primary mt-4">
                                    Daugiau informacijos
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "footer.html.twig" %}

{% endblock %}