{% extends 'base.html.twig' %}

{% block title %}Skardland.lt - Slapukų politika{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-12 text-center">
                    <h2>Slapukų politika</h2>
                </div>
            </div>
            <h5>Kas yra slapukai?</h5>
            <p>
                Slapukai – tai tekstiniai failai su nedideliu informacijos kiekiu, kurie siunčiami į
                Jūsų naršyklę ir išsaugomi Jūsų kompiuteryje, mobiliajame telefone ar kitame įrenginyje,
                kai Jūs apsilankote interneto svetainėje. Kiekvieną kartą sugrįžus į tą pačią interneto
                svetainę, slapukai vėl atsiunčia informaciją į šią svetainę.
            </p>
            <h5>Kokius slapukus mes renkame?</h5>
            <p>
                Mes naudojame „Google Analytics“ ir „Hotjar“, kurie išsaugo slapukus Jūsų
                įrenginyje tam, kad būtų galima generuoti anonimiškas ataskaitas ir
                statistiką. „Hotjar“ ir „Google“ šią informaciją išsaugo pagal savo taikomą privatumo
                politiką.
            </p>
            <ul>
                <li>
                    <h6><u>Hotjar</u></h6>
                    <p>
                        „Hotjar“ paslaugą naudojame siekdami suvokti, kaip naudotojai naršo atskiruose mūsų
                        svetainės puslapiuose. „Hotjar“ yra analitinė ir grįžtamojo ryšio priemonė,
                        leidžianti mums suvokti, kaip naudojamos mūsų Interneto svetainės ir tobulinti
                        jų naudojimo galimybes. „Hotjar“ įrašo slapukus tam, kad padėtų mums sekti lankytojų
                        veiksmus puslapiuose ir valdyti jų sąrašus. Slapukai nekaupia jokios asmenį identifikuojančios
                        informacijos.
                        <a href="https://www.hotjar.com/legal/policies/privacy" target="_blank">Daugiau informacijos</a>
                    </p>
                </li>

                <li>
                    <h6><u>Google Analytics</u></h6>
                    <p>
                        Svetainėse taip pat yra tam tikrų komponentų, kuriuos perduoda „Google Analytics“
                        – „Google Inc.“ teikiama žiniatinklio srauto analizės paslauga.
                        Tai trečiosios šalies slapukai, kurie renkami ir tvarkomi anonimiškai,
                        siekiant stebėti ir gerinti pagrindinės svetainės veikimą (veikimo gerinimo slapukas).
                        „Google Analytics“ naudoja slapukus rinkti ir analizuoti anonimišką informaciją apie
                        svetainės naudotojų veiksmus. Šią informaciją renka „Google Analytics“, kuri ją apdoroja
                        siekdama parengti ataskaitas svetainės savininkams apie svetainėje vykdomą veiklą.
                        Išsamesnė informacija pateikta šiuose puslapiuose:
                        <a href="http://www.google.com/policies/privacy/" target="_blank">
                            http://www.google.com/policies/privacy/
                        </a> ir
                        <a href="https://www.google.it/policies/privacy/partners/" target="_blank">
                            https://www.google.it/policies/privacy/partners/
                        </a>.
                    </p>
                </li>
            </ul>
            <h5>Kaip valdyti slapukus?</h5>
            <p>
                Slapukus galite tvarkyti ir (arba) ištrinti savo nuožiūra.
                Savo kompiuteryje galite ištrinti visus išsaugotus slapukus,
                o daugumoje naršyklių galite pasirinkti, kad slapukai nebūtų išsaugomi.
                Atminkite, kad išjungę slapukus, galite netekti galimybės naudotis daugybe
                funkcijų, kurios taip pat būtinos Interneto svetainių veikimui. Jei norite
                gauti daugiau informacijos apie slapukus, apsilankykite svetainėje www.aboutcookies.org,
                kurioje pateikta detalesnė ir nepriklausoma informacijos apie tai, kaip išjungti
                slapukus naršyklės parametrų skiltyje ir kaip pašalinti Jūsų kompiuteryje jau
                esančius slapukus. Jei norite pašalinti slapukus iš savo mobiliojo telefono,
                žr. savo telefono naudojimo instrukciją.
            </p>
            <h5>
                Jei kyla klausimų su mumis galite susiekti:
                <a href="{{ url('contacts') }}">
                    Kontaktai
                </a>
            </h5>
        </div>
    </section>

    {% include "footer.html.twig" %}

{% endblock %}