<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">{{ product.title }}</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Uždaryti">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    {{ product.description|raw }}
</div>
<div class="modal-footer">
    {% if product.price %}
        <button type="button" class="btn btn-primary">{{ product.price }}€</button>
        <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Uždaryti</button>
    {% endif %}
</div>