{% extends 'base.html.twig' %}

{% block title %}Skardland.lt - {{ category.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.2/dist/medium-zoom.min.js"></script>
    <script>
        let details_link = '{{ url('product-details') }}';
    </script>
    {{ encore_entry_script_tags('products') }}

{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-12 text-center">
                    <h2>{{ category.title }}</h2>
                </div>
            </div>
            <div id="products" class="row view-group">
                {% for product in products %}
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                {% if product.image %}
                                    <img data-zoomable="true"
                                         class="group list-group-image img-fluid img-fit"
                                         src="/uploads/products/{{ product.image }}"
                                         alt="Skardland.lt - {{ category }} | {{ product.title }}"
                                    />
                                {% else %}
                                    <img class="group list-group-image img-fluid img-fit"
                                         src="{{ asset('images/no-image-default.png') }}"
                                    />
                                {% endif %}
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    {{ product.title }}
                                    {% if product.price %}
                                        <div class="badge badge-primary">
                                            {{ product.price }}€
                                        </div>
                                    {% endif %}
                                </h4>
                                <p class="group inner list-group-item-text">
                                    {{ tp(product.description)|raw }}
                                </p>
                                <button type="button" class="btn btn-primary btn-block mt-4 more-info"
                                        data-toggle="modal" data-target="#modal-default" id="product-{{ product.id }}">
                                    Daugiau informacijos
                                </button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-12 text-center">
                            <h5 class="empty">Nieko nėra!</h5>
                        </div>
                {% endfor %}

                {% if products.haveToPaginate %}
                    <div class="paginator">
                        {{ pagerfanta(products, 'twitter_bootstrap4',
                            {
                                css_disabled_class: '',
                                next_message: '<i class="fa fa-angle-right"></i>',
                                prev_message: '<i class="fa fa-angle-left"></i>',
                                routeName: 'products-paginated',
                                proximity: 1,
                                dots_message: '...',
                                css_dots_class: ''
                            })
                        }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
         aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
                <div class="lds-css ng-scope" id="loader">
                    <div class="lds-ring lds-center">
                        <div></div><div></div><div></div><div></div>
                    </div>
                </div>
                <div id="modal-content"></div>
            </div>
        </div>
    </div>

    {% include "footer.html.twig" %}

{% endblock %}
