{% set metaDescription = getSetting('meta-description') %}
{% set title = getSetting('title') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta content="{{ getSetting('meta-keywords') }}" name="keywords">
        <meta content="{{ metaDescription }}" name="description">

        <meta property="og:title" content="{{ title }}">
        <meta property="og:url" content="{{ url('homepage') }}">
        <meta property="og:description" content="{{ metaDescription }}">

        <link rel="icon" href="" />
        <link rel="shortcut icon" href="" />
        <link rel="apple-touch-icon-precomposed" href="" />

        <title>
            {% block title %}
                {{ getSetting("title") }}
            {% endblock %}
        </title>

        <link rel="canonical" href="http://skardland.lt/"> {# TODO #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#237afc"
                        },
                        "button": {
                            "background": "#fff",
                            "text": "#237afc"
                        }
                    },
                    "theme": "classic",
                    "content": {
                        "message": "Šis puslapis naudoja slapukus siekdamas užtikrinti geriausią vartotojo kokybę. Tęsdami naršymą sutinkate su šia slapukų politika. ",
                        "dismiss": "Suptatau",
                        "link": "Slapukų politika",
                        "href": "{{ url('privacy') }}"
                    }
                })});
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}" role="alert">
                    <div class="container">
                        {{ flash|raw }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Uždaryti">
                            <span aria-hidden="true">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
