<footer class="fdb-block footer">
    <div class="container nav-max">
        <div class="row align-items-top text-center text-md-left">
            <div class="col-12 col-sm-8 col-md-4">
                <a href="{{ url('homepage') }}">
                    <img class="img-center" src="{{ asset('images/skardland_brand.png') }}" style="border-radius: 5px"
                         height="35" alt="Skardland.lt - Logotipas">
                </a>
                <p class="footer-desc">Mes Jums siūlome profesionalias skardos lankstinių gamybos ir montavimo paslaugas už priimtiną kainą.</p>
            </div>
            <div class="col-12 col-sm-5 col-md-4 mt-4 mt-sm-0 align-center">
                <h3 class="category"><strong>Nuorodos</strong></h3>
                <p><a href="{{ url('homepage') }}">Pradžia</a></p>
                <p><a href="{{ url('about') }}">Apie mus</a></p>
                <p><a href="{{ url('contacts') }}">Kontaktai</a></p>
                <p><a href="{{ url('privacy') }}">Slapukų politika</a></p>
            </div>
            <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left align-center">
                <h3 class="category">
                    <strong>Kontaktai</strong>
                </h3>
                <p>
                    {{ getSetting('address-1') }}
                    <br>
                    {{ getSetting('address-2') }}
                </p>
                <p>
                    {{ getSetting('phone-number') }}
                </p>
                <p>
                    <a href="mailto:{{ getSetting('email') }}">
                        {{ getSetting('email') }}
                    </a>
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <p>© {{ "now"|date("Y") }} Skardland.lt</p>
            </div>
        </div>
    </div>
</footer>
