<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark">
        <div class="container nav-max">
            <a class="navbar-brand mr-lg-5" href="{{ url('homepage') }}">
                <img src="{{ asset('images/skardland_brand.png') }}" style="border-radius: 5px" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{{ url('homepage') }}">
                                <img style="border-radius: 5px" src="{{ asset('images/skardland_brand.png') }}" height="40">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global"
                                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center nav-margin-left">

                    <li class="nav-item dropdown">
                        <a href="{{ url('homepage') }}" class="nav-link" role="button">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">Pradžia</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                            <i class="ni ni-ui-04 d-lg-none"></i>
                            <span class="nav-link-inner--text">Produktai</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl">
                            <div class="dropdown-menu-inner">
                                {% for category in getEntities('Category') %}
                                    <a href="{{ url('products',
                                        {category: category.id, slug: slugify(category.title)}) }}"
                                       class="media d-flex align-items-center">
                                        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                                            <i class="{{ category.icon }}"></i>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="heading text-secondary mb-md-1">
                                                {{ category.title }}
                                            </h6>
                                            <p class="description d-none d-md-inline-block mb-0">
                                                {{ category.content }}
                                            </p>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{{ url('about') }}" class="nav-link" role="button">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">Apie mus</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{{ url('contacts') }}" class="nav-link" role="button">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">Kontaktai</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a href="{{ url('easyadmin') }}" class="nav-link" role="button">
                                <i class="ni ni-collection d-lg-none"></i>
                                <span class="nav-link-inner--text">Administravimas</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item fb-item">
                        <a class="nav-link nav-link-icon" href="{{ getSetting('fb') }}" target="_blank"
                           data-toggle="tooltip" title="" data-original-title="Sek mus Facebook'e">
                            <i class="fab fa-facebook"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block ml-lg-4">
                        <a href="#" target="_blank" class="btn btn-outline-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="far fa-envelope"></i>
                </span>
                            <span class="nav-link-inner--text">{{ getSetting('email') }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>