{% extends 'base.html.twig' %}

{% block title %}Skardland.lt - Prisijungimas{% endblock %}
{% block meta %}<meta name="robots" content="noindex,nofollow">{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block fp-active" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/red.svg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
                    <div class="fdb-box">
                        <form method="post" action="{{ url('auth') }}">
                            <div class="row">
                                <div class="col">
                                    <h1>Prisijungimas</h1>
                                </div>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <div class="container">
                                        <div class="alert-icon">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </div>
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row mt-4">
                                <div class="col">
                                    <input name="_username" type="email" class="form-control" required placeholder="El. Paštas">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <input name="_password" type="password" class="form-control" required placeholder="Slaptažodis">
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <div class="row mt-4">
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="submit">Prisijungti</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html.twig" %}

{% endblock %}
