{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}

    <input type="file" id="file" style="display:none;" />

    {% if easyadmin_action_is_enabled_for_list_view('import', _entity_config.name) %}
        <div class="button-action">
            <a class="btn btn-primary" href="#" onclick="fileUpload()">
                <i class="fa fa-upload"></i>
                Importuoti
            </a>
        </div>
    {% endif %}

    {% if easyadmin_action_is_enabled_for_list_view('export', _entity_config.name) %}
        <div class="button-action">
            <a class="btn btn-primary" href="{{ path('easyadmin', _request_parameters|merge({ action: 'export' })) }}">
                <i class="fa fa-download"></i>
                Eksportuoti
            </a>
        </div>
    {% endif %}

    <script>
        document.getElementById('file').addEventListener('change', handleFileSelect, false);

        function fileUpload() {
            document.getElementById("file").click();
        }

        function handleFileSelect(evt) {
            var f = evt.target.files[0];
            var reader = new FileReader();

            reader.onload = (function(theFile) {
                return function(e) {
                    const formData = new FormData();
                    formData.append('files[]', theFile);

                    fetch('{{ path('easyadmin', _request_parameters|merge({ action: 'import' })) }}', {
                        method: 'POST',
                        body: formData
                    }).then(res => res.text())
                        .then(response => console.log('Success:', JSON.stringify(response)))
                        .catch(error => console.log('Error:', error));

                };
            })(f);

            reader.readAsDataURL(f);
        }


    </script>

{% endblock global_actions %}