{% extends 'base.html.twig' %}

{% block meta %}<meta name="robots" content="noindex,nofollow">{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <section class="fdb-block fp-active" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/red.svg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
                    <div class="fdb-box">
                        <form method="post" action="{{ url('auth') }}">
                            <div class="row">
                                <div class="col">
                                    <h1>Neradome ko ieškojote!</h1>
                                    <a href="{{ url("homepage") }}">Grįžti į pradžią</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html.twig" %}

{% endblock %}
